:root {
    --blue-dark: #110f2b;
    --gap: 3rem;
    --middle-white: #f5f5f5;
    --gray: #888888;
    --btn-color-bg: #2f3a83;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    color: var(--blue-dark);
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: var(--blue-dark);
}

h2 {
    font-size: 4rem;
    margin-bottom: 4rem;
    text-transform: uppercase;
    line-height: 1.2;
}

.cloud-bg {
    background-image: url(../img/background-cloud.svg);
    background-size: cover;
    background-position: center center;
    color: var(--middle-white);
}

.white-bg {
    background: var(--middle-white);
    color: var(--blue-dark);
}

.sound-bg {
    background-image: url(../img/Sound.svg);
    background-size: cover;
    background-position: center center;
}

.line-bg {
    background-image: url(../img/line-background.svg);
    background-size: cover;
    background-position: center center;
}

.logo-img {
    width: 4rem;
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 10rem var(--gap);
}

.container {
    min-height: 100vh;
}

.btn-saiba {
    color: var(--middle-white);
    background: var(--btn-color-bg);
    margin-top: 3rem;
    width: 60%;
    padding: 5px 0;
    text-align: center;
    border: 1px solid var(--middle-white);
    border-radius: 5px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.btn-saiba:hover {
    color: var(--blue-dark);
    background: var(--middle-white);

}

/* -----------menu--------------- */

.menu {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: white;
    box-shadow: 0px 0px 8px 0px #8f9dff;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--blue-dark);
    position: relative;
}

.menu ul li a::after {
    background: var(--blue-dark);
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 80%;
    left: 10%;
}

/* ---------home------------ */

.container-content {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: stretch;
    gap: var(--gap);
    min-height: 100vh;
}

.container-content-text,
.content-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.content-img img {
    max-width: 100%;
    height: auto;
}

/* -----------beneficios---------- */

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--gap);
}

.grid h3 {
    font-size: 2rem;
    position: relative;
    padding-bottom: 2rem;
}

.grid-about-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
    background-color: white;

}

.grid-about-content h2 {
    margin-bottom: 5rem;
}

.grid-title {
    margin-bottom: 2rem;
}

.about-ben {
    max-width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 1px 10px 1px #c4c4c4;
    transition: all 300ms ease-in-out;
}

.about-ben:hover {
    transform: rotate(2deg);
}

.about-ben p {
    font-size: 2rem;
}

/* ------------Produto----------- */

.prod-content {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: stretch;
    gap: var(--gap);
    min-height: 100vh;
}

.prod-content-text {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    color: var(--middle-white);
}

.prod-content-text div {
    display: grid;
    align-items: center;
    background: var(--middle-white);
    color: var(--blue-dark);
    box-shadow: 0px 0px 5px var(--middle-white);
    padding: var(--gap);
    min-height: 30rem;
    border-radius: 15px;
}

.prod-content-text h3 {
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.notication-text p {
    margin-bottom: var(--gap);
}

.notication-text h3 {
    text-align: center;
}

.notication-text button {
    background: rgb(202, 31, 66);
    text-transform: uppercase;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px var(--blue-dark);
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.notication-text button:hover {
    background: rgb(167, 20, 49);
    box-shadow: 2px 2px 10px var(--blue-dark);
}

.footer {
    font-size: 1.6rem;
}

.footer .grid {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding: 2rem 10rem;
}

.footer p {
    text-align: center;
    margin-bottom: 2rem;
}

.footer p a:hover {
    color: var(--btn-color-bg);
}

.close-menu {
    display: none;
}

@media (max-width: 900px) {
    .container-content {
        grid-template-columns: none;
    }

    .container-content .content-img {
        display: none;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .prod-content {
        grid-template-columns: none;
    }

    .footer .grid {
        grid-template-columns: none;
        justify-items: left;
    }
}

@media (max-width: 500px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .menu {
        overflow-x: auto;

    }
}